* {
  margin: 0 auto;
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 300;
  color: white;
}

html, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fa7199), color-stop(#f5ce62), to(#03a9f4));
  background-image: linear-gradient(#fa7199, #f5ce62, #03a9f4);
  padding-bottom: 10px;
}

.container {
  max-width: 980px;
}

header {
  margin-top: 15px;
}

header, section, footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#141414), to(#262626));
  background-image: linear-gradient(#141414, #262626);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 95%;
  padding: 20px;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.3);
          box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
}

@-webkit-keyframes titulo {
  0% {
    top: -700px;
  }
  60% {
    top: 0px;
  }
  70% {
    top: -15px;
  }
  80% {
    top: 0px;
  }
  90% {
    top: -5px;
  }
  100% {
    top: 0px;
  }
}

@keyframes titulo {
  0% {
    top: -700px;
  }
  60% {
    top: 0px;
  }
  70% {
    top: -15px;
  }
  80% {
    top: 0px;
  }
  90% {
    top: -5px;
  }
  100% {
    top: 0px;
  }
}

.h1-container {
  position: relative;
  height: 120px;
  width: 955;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  position: absolute;
  font-size: 75px;
  -webkit-animation: titulo .85s;
          animation: titulo .85s;
  margin: 0 auto;
}

h2 {
  font-size: 50px;
}

.scary {
  font-family: 'Balsamiq Sans', cursive;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 0;
}

.icons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 15px;
}

.icons a {
  display: block;
  padding: 6px 7px;
  border: 2px solid white;
  border-radius: 50%;
  line-height: 13px;
}

.icons a:hover {
  border: 2px solid #fa7199;
}

.icons a:hover ion-icon {
  color: #fa7199;
}

button {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  width: 80vw;
  margin: 10px auto;
  border-radius: 15px;
  background: #111;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

button:nth-child(1),
button:nth-child(3) {
  background: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}

button:nth-child(2),
button:nth-child(4) {
  background: -webkit-gradient(linear, left top, right top, from(#fa7199), color-stop(#f5ce62), color-stop(#e43603), to(#fa7199));
  background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
  background-size: 400%;
}

button:nth-child(1):before,
button:nth-child(2):before,
button:nth-child(3):before,
button:nth-child(4):before {
  content: '';
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 15px;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

button:nth-child(1):hover:before,
button:nth-child(2):hover:before,
button:nth-child(3):hover:before,
button:nth-child(4):hover:before {
  opacity: 1;
  z-index: -1;
}

button:hover {
  z-index: 1;
  -webkit-animation: glow 8s linear infinite;
          animation: glow 8s linear infinite;
}

@-webkit-keyframes glow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes glow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.logo {
  max-width: 500px;
}

.logo img {
  width: 80%;
  border-radius: 20px;
  background-size: cover;
}

p {
  padding: 15px auto;
  width: 90%;
  text-align: center;
  max-width: 700px;
  line-height: 20px;
  padding: 20px 0;
}

section {
  margin-top: 15px;
}

section:last-of-type {
  margin-bottom: 15px;
}

.grandparent {
  position: relative;
  height: 400px;
  max-width: 600px;
  border-radius: 2px;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DBF3FA), to(#03a9f4));
  background-image: linear-gradient(#DBF3FA, #03a9f4);
  -webkit-box-shadow: 3px 3px 3px 3px rgba(255, 182, 193, 0.15);
          box-shadow: 3px 3px 3px 3px rgba(255, 182, 193, 0.15);
}

.parent {
  position: relative;
}

.bubble {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  -webkit-transition: height 1s, width 1s, line-height 1s, font-size 1s, opacity .5s;
  transition: height 1s, width 1s, line-height 1s, font-size 1s, opacity .5s;
  color: black;
  font-size: 20px;
  background-image: radial-gradient(#ff48a5 30%, #fa7199 55%, wheat, purple, fuchsia);
  opacity: 0.55;
}

.bubble:hover {
  height: 250px;
  width: 250px;
  line-height: 250px;
  font-size: 30px;
  opacity: .67;
}

.parent-html {
  position: absolute;
  bottom: -50px;
}

.parent-css {
  position: absolute;
  bottom: -80px;
  left: 120px;
}

.parent-javascript {
  position: absolute;
  bottom: 160px;
  left: -40px;
}

.parent-node {
  position: absolute;
  bottom: -50px;
  right: -50px;
}

.parent-mongo {
  position: absolute;
  bottom: -90px;
  left: 300px;
}

.parent-influx {
  position: absolute;
  bottom: 15px;
  left: 230px;
}

.parent-graphql {
  position: absolute;
  bottom: 130px;
  right: -55px;
}

.parent-mysql {
  position: absolute;
  bottom: 45px;
  left: -50px;
}

.parent-laravel {
  position: absolute;
  bottom: 80px;
  left: 345px;
}

.parent-react {
  position: absolute;
  bottom: 50px;
  left: 90px;
}

.karliene-img {
  width: 100%;
  max-width: 800px;
}

form input {
  height: 60px;
  width: 80vw;
  margin-top: 10px;
  border-radius: 15px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  text-align: left;
}

form button {
  width: 80vw;
}

footer {
  height: 80px;
  line-height: 80px;
}

@media screen and (min-width: 768px) {
  .icons {
    width: 30%;
  }
  button {
    display: inline-block;
    width: 40%;
  }
  nav {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .input {
    display: inline-block;
  }
  form input {
    width: 40vw;
  }
}

@media screen and (min-width: 1024px) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .button {
    width: 22%;
    font-size: 18px;
  }
  .logo {
    width: 400px;
    height: 350px;
  }
  h1 {
    font-size: 90px;
  }
  form input {
    width: 500px;
  }
  form .submit {
    width: 500px;
  }
}

#demo-100days {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#080808), to(#202020));
  background-image: linear-gradient(#080808, #202020);
}

.logo-100days img {
  height: 35px;
}

.title-100days {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 12px;
  text-align: center;
}

.subtitle-100days {
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Hind Siliguri', sans-serif;
}

.btn-intro {
  margin: 20px auto;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#119B57), to(#32FF3D));
  background-image: linear-gradient(#119B57, #32FF3D);
  display: inline-block;
  padding: 13px 15px;
  border-radius: 20px;
  -webkit-transition: background-image .5s;
  transition: background-image .5s;
  -webkit-box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.3);
          box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.3);
}

.btn-intro:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6A00), to(#FF9700));
  background-image: linear-gradient(#FF6A00, #FF9700);
}

.btn-intro:first-of-type {
  margin-right: 5px;
}

.btn-intro:last-of-type {
  margin-left: 5px;
}

.img-intro-100days {
  width: 60%;
  height: 36%;
  background-size: cover;
}

#demo-react-app {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#080808), to(#202020));
  background-image: linear-gradient(#080808, #202020);
}

.img-react-app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-react-app {
  width: 100%;
  max-width: 600px;
}
/*# sourceMappingURL=style.css.map */