.demo-proyecto {
  background-image: linear-gradient(#080808, #202020);
  box-sizing: border-box;
  padding: 25px 0;
}

.subsection {
  display: flex;
}

.proyectos-img {
  width: 100%;
  max-width: 600px; 
}
